/* MVC3 errors
-----------------------------------------------------------------------------------------------------------*/


.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

.ui-icon-green_tick {
	background-image: url("images/app-icon-green_tick.png");
}

/* Override the value of the datebox */
.ui-icon-datebox {
    background-position: 99% 8px !important;
    background-repeat: no-repeat !important;
}

/* General customisations */
input#Packs1, input#Packs2
{
    width: 80px;
}

.ui-autocomplete-loading { background:url('images/ajax-loader-mini.gif') no-repeat right center }

.bold {
    font-weight: bold;
    padding-right: 5px;
}

#spacer {
    height: 20px;
}

@media all and (max-width: 320px) {
    body {
        background: url('../res/screen/android/screen-ldpi-portrait.png') no-repeat center center !important;
        background-attachment: fixed;
    }
}

@media all and (min-width: 321px) and  (max-width: 480px) {
    body {
        background: url('../res/screen/android/screen-mdpi-portrait.png') no-repeat center center !important;
        background-attachment: fixed;
    }
}

@media all and (min-width: 481px) and  (max-width: 720px) {
    body {
        background: url('../res/screen/android/screen-hdpi-portrait.png') no-repeat center center !important;
        background-attachment: fixed;
    }
}

@media all and (min-width: 721px) {
    body {
        background: url('../res/screen/android/screen-xhdpi-portrait.png') no-repeat center center !important;
        background-attachment: fixed;
    }
}

.ui-page {
    background: transparent;
}